[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

prompt_toolkit = {git = "https://github.com/jonathanslenders/python-prompt-toolkit.git", ref = "2.0"}
Pygments = "*"
trio = "*"


[requires]

python_version = "3.6"
